* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    background-color: brown;
}

nav {
    background-color: black;
    color: #fff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

header {
    display: flex;
    filter: brightness(80%);
    color: #fff;
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
    position: relative;
}

header div {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    padding: 0;
    margin: 25px auto;
}

div > p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
    margin: 2rem 1rem;
    margin-top: 4rem;
    padding: 0.5rem;
    text-align: left;
    height: auto;
    text-shadow: -5px -3px 10px black;
    color: #fff;
    border-bottom: 4px solid black;
}

.project-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    background-color: indianred;
    border-radius: 15px;
    width: 80%;
}

.card a {
    width: 80%;
}

.card-container {
    display: flex;
    background-color: #EFF7FF;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    width: 800px;
    height: auto;
    border-radius: 20px;
    opacity: 0.7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}


footer {
    background-color: black;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: linen;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (min-width: 374px) and (max-width: 1024px) {

    html, body {
        font-size: 16px;
        width: 100%;
    }

    header {
        filter: brightness(80%);
        color: #fff;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        border-radius: 50px;
    }

    h1 {
        font-size: 5rem;
        color: #fff;
        margin: 0 auto;
        margin-top: 6rem;
        width: fit-content;
        text-align: left;
        height: auto;
        text-shadow: -3px -1px 5px black;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 1);
    }

    .card-container {
        display: flex;
        background-color: linen;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        height: auto;
        border-radius: 20px;
        opacity: 0.7;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 1);
    }
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    .card a {
        width: auto;
        margin: 1rem auto;
        padding: 0;
    }

    .project-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem;
        width: 100%;
        height: auto;
    }
}