* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2A2B2E;
    --secondary-color: #5A5A66;
    --third-color: #A4C2A8;
    --fourth-color: #00ff09;
    --fifth-color: green;
    --seventh-color: #b2f3b4;
    --sixth-color: #15c215;
    --background-light-grey: #b4b4b4;
    --font-light-color: #fff;
    --font-dark-color: #000;
    --font-size-one: 16px;
    --font-size-two: 24px;
    --font-size-three: 32px;
    --drop-shadow-one: 0 4px 4px rgba(73, 46, 46, 0.75);
    --drop-shadow-two: 8px 8px 5px var(--third-color);
    --drop-shadow-three: 0 6px 6px var(--third-color);
    --border-radius-one: 0px 0px 25px 25px;
    --border-radius-two: 50px;
    --box-shadow-one: 0px 5px 11px 4px #a4c2a8;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    
}

main {
    height: 100vh;
    background-color: var(--primary-color);
    z-index: -1;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12vh;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    background-color: #2a2b2e;

}
    

ul > :nth-child(2) {
    margin-left: auto;
}

ul > :nth-child(3) {
    margin-right: 3rem;
}

.profile-tab {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-three);
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 2rem;
    height: 7vh;
    width: 427px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-one);
    /* box-shadow: var(--drop-shadow-one); */
    cursor: pointer;
    position: relative;
    z-index: 10;
    
}

.profile-tab::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    color: var(--background-light-grey);
    border-radius: var(--border-radius-one);
    z-index: 5;
    box-shadow: var(--box-shadow-one);
    
}

.profile-tab #tab-text {
    position: relative;
    z-index: 10;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    color: #b2f3b4;
    text-shadow: 0 0px 10px rgba(255, 254, 254, 0.75);
}

.profile-tab-hidden {
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 0; /* Initially hidden */
    overflow: hidden; /* Hide overflow */
    position: absolute;
    opacity: 0; /* Initially hidden */
    top: 50%; /* Position dropdown below the profile tab */
    left: 0;
    background-color: white;
    border-radius: var(--border-radius-one);
    box-shadow: var(--drop-shadow-three);
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for height */
    z-index: 1;
    align-items: center;
}

.profile-tab:hover .profile-tab-hidden {
    height: 400px;
    opacity: 1;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
    margin: 0;
    padding: 0;
}

.upper-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 15vh;
    color: var(--background-light-grey);
    font-size: var(--font-size-one);
    gap: 1rem;
    margin-top: 1rem;
}

.upper-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.text-section {
    line-height: 2rem;
}

.dark-text {
    color: var(--font-dark-color);
    filter: blur(0.3px);
}

.upper-card h2 {
    font-size: var(--font-size-two);
}

.lower-card {
    display: flex;
    flex-direction: column;
    color: var(--background-light-grey);
    max-width: 70%;
    line-height: 2rem;
    font-size: var(--font-size-one);
    align-items: flex-start;
    margin-top: 1rem;
    position: relative;
    bottom: -5%;
}

.social-backdrop  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -10%;
}

.social-backdrop img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    color: var(--third-color);
    flex-shrink: 0;
    background-color: var(--fifth-color);
    margin: 0 1rem;
    height: 7vh;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-one);
    box-shadow: var(--box-shadow-one);
    cursor: pointer;
    transition: height 0.5s ease-in-out;
    text-shadow: 0 0px 10px rgba(255, 254, 254, 0.75);
}

.nav-buttons:hover {
    height: 9vh;
    transition: height 0.5s ease-in-out;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;

}

h1 {display: flex;
    
    color: #383838;
    font-size: calc(3 * var(--font-size-three));
    font-family: 'Inter';
    text-align: center;
    margin: 1rem 0;
    justify-content: center;
    align-content: center;
    line-height: 5rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

a {
    text-decoration: none;
    color: #b2f3b4;
    font-size: var(--font-size-three);
    width: 95%;
    text-align: center;
}

footer {
    display: none;
}