/* Global Styles */
* {
    box-sizing: border-box;
    line-height: 1.3;
    letter-spacing: 1.5px;
    font-family: 'Georgia', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
}

body {
    background-color: #333; 
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#hero-banner .line1,
#hero-banner .line2,
#hero-banner .line3 {
    opacity: 0;
    font-size: inherit;
    text-align: center;
}

#hero-banner .line1 {
    animation: fadeInText1 2s ease forwards;
    
}

#hero-banner .line2 {
    animation: fadeInText2 2s ease forwards;
    animation-delay: 1s;
}

#hero-banner .line3 {
    animation: fadeInText3 2s ease forwards;
    animation-delay: 2s;
}

/* #hero-banner .line1,
#hero-banner .line2,
#hero-banner .line3 {
    font-size: inherit;
} */


@keyframes fadeInText1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText2 {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes fadeInText3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div#goal {
    font-family: 'Roboto', sans-serif;
    margin: 25px;
    margin-top: 0px;
    padding: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 61%;
}

div#goal p {
    font-size: 1.2rem;
    padding: 20px;
    margin-top: 0px;
    border-bottom: 2px dashed;
    border-top: 2px dashed;
}


header {
    background-color: #333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

header h1 {
    color: mediumseagreen;
    font-family: 'Georgia', monospace;
    font-size: 5rem;
    text-align: center;
    width: auto;
    padding: 35px;
    /* margin-bottom: 0; */
    line-height: 1.3;
    height: auto;
}

header div {
    width: auto;
    overflow: auto;
    padding: 10px;
    margin: 10px;
}

/* Navigation */

nav {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    position: fixed;
}   

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: none;
}

/* Main */
main {
    background-color: darkslategray;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0 25px;
    padding: 20px;
    display: flex;
}

h2 {
    color: #DB504A;
    font-size: 60px;
    font-family: 'Georgia', sans-serif;
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    border-bottom: 4px solid white;
    text-transform: uppercase;
    line-height: 0.8;
}

h3 {
    font-size: 40px;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid white;
    text-transform: capitalize;
}


/* New Section */
.left-panel {
    
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 50%;
    margin: 0 25px;
    padding: 25px;
    text-align: center;
    border-radius: 25px; 
    
}

/* New Section */
.right-panel {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 50%;
    margin: 0 25px;
    padding: 25px;
    text-align: center;
}


.about {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: auto;
    width: 100%;
    margin: 50px auto;
    padding: 25px;
    text-align: left;
    border-radius: 25px;
}

.skills {
    background-color: #333333;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

.skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    list-style-type: none;
    justify-items: center;
    gap: 10px;
    padding: 5px;
    margin: 5px;
}

.projects {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.projects ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    list-style-type: none;
    justify-items: center;
    gap: 20px;
    margin: 15px 25px;
    padding: 5px;
}

.projects li, a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projects a {
    cursor: pointer;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px;
    background-color: #939594;
    border-radius: 16px;
    text-decoration: none;
}

.projects a:hover {
    background-color: seagreen;
    color: #212121;
    transition: color .2s ease-in, background-color .3s ease-in;
    translate: 0px 5px;
    box-shadow: 0px -6px #212121;
}

.education {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: auto;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

.education ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    justify-items: center;
    gap: 10px;
    padding: 5px;
    margin: 5px;
}

.hobbies {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: auto;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

.hobbies ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    justify-items: center;
    gap: 10px;
    padding: 5px;
    margin: 5px;
}

.contact {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

.contact ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-items: start;
    padding: 10px;
    text-align: center;
}

.contact li{
    display: flex;
    text-align: left;
    width: 100%;
    height: 100%;
}

.contact li h3 {
    color: blue;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.footer-container {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 10px;

}

.footer-right h3 {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-right-sections {
    display: flex;
    flex-direction: column;
}

.footer-right-sections ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.footer-right-sections a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    margin: 2px;
    padding: 2px;
}

.social-media-bar {
    margin: 20px;
}

.social-media-bar h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.logo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
} 

.logo-list li {
    margin: 10px;
}

.logo-list img {
    width: 125px;
    height: auto;
    margin: 10px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

/* Media Queries */
@media only screen and (min-width: 1025px) {
    div#goal {
        display: flex;
        width: 70%;
        height: fit-content;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {

    html, body {
        width: 100%;
    }

    div#goal {
        text-align: center;
        flex-wrap: wrap;
        margin: 0 5px;
        border: none;
        width: 100%;
    }

    div#goal > p {
        font-size: 1rem;
    }


    header, main, footer {
        flex-wrap: wrap;
        width: auto;
    }

    header h1 {
        margin: 40px;
    }

    footer ul.logo-list {
        width: 100%;
        margin: 0 auto;
    }

    ul.logo-list > li {
        padding: 5px;
    }

    .left-panel, .right-panel {
        width: 50%;
        margin: 0;
        padding: 10px;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    div.about, div.contact, div.hobbies, div.projects, div.skills, div.education {
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 30px;
        height: auto;
    }

    div.education > p {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 380px) and (max-width: 768px) {

    html, body {
        width: 100%;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
    }

    .nav-list.show {
        display: flex;

    }

    nav li {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 15px;
    }

    .menu-toggle {
        display: flow;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        text-align: -webkit-right;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    div.about, div.contact, div.hobbies, div.projects, div.skills, div.education {
        padding: 15px;
        margin: 25px auto;
    }

    div.projects {
        margin-top: 0px !important;
    }

    div#goal {
        display: block;
        margin: 0;
        border: none;
        width: 100%;
    }

    div#goal > p, .about > p, .hobbies > p, .projects > p, .skills > p, .education > p {
        font-size: 1rem;
    }

    header div {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    header, main, footer {
        flex-wrap: wrap;
        width: auto;
    }

    div {
        width: 100%;
        height: fit-content;
    }

    header > div > h1 {
        width: auto;
        font-size: 3rem;
        margin: 25px;
        padding: 25px;
    }

    .left-panel, .right-panel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    footer ul.logo-list {
        width: 100%;
        margin: 0 auto;
    }
    
    .skills ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-items: start;
        padding: 10px;
        text-align: center;
    }

    .logo-list {
        display: block;
    }

    .logo-list a {
        margin: 0 auto;
    }
    
    ul.logo-list {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
/*CSS for mobile devices*/
@media only screen and (min-width: 0px) and (max-width: 379px) {

    html, body {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }

    div.about, div.contact, div.hobbies, div.projects, div.skills, div.education {
        padding: 15px;
        margin: 25px auto;
    }

    div.projects {
        margin-top: 0px !important;
    }

    div#goal {
        display: block;
        margin: 0 5px;
        border: none;
    }

    div#goal > h2 {
        font-size: 35px;
        padding: 5px;
    }

    div#goal > p {
        font-size: 15px;
    }

    header, main, footer {
        flex-wrap: wrap;
        width: auto;
        margin: 25px;
        padding: 25px;
    }

    div {
        width: 100%;
        height: fit-content;
    }

    header > div > h1 {
        width: auto;
        font-size: 75px;
        margin: 25px;
    }

    .left-panel, .right-panel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    footer ul.logo-list {
        width: 100%;
        margin: 0 auto;
    }

    ul.logo-list > li {
        padding: 5px;
    }
    
}

