* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

main {
    background-color: lightgray;
    overflow-y: auto;
    height: 100%;
}

header {
    background-color: black;
    color: linen;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

section {
    margin: 1em;
    padding: 1em;
}

section > p {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    padding: auto;
}

footer {
    background-color: black;
    color: linen;
    text-align: center;
    position: static;
    width: 100%;
    padding: 2px;
    margin: 0 auto;
}

video {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* Media Query */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 3rem;
        margin: 1em auto;
        padding: 0;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 2rem 0;
        width: 100%;
        height: auto;
    }

    html, body {
        display: flex;
        flex-direction: column;
    }

    main {
        height: auto;
        font-size: 1.5rem;
    }

    section {
        margin: 2em;
        padding: 2em;
    }
}