* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #49A078;
}

main {
    margin: 1.5rem;
    padding: 1rem;
}

nav {
    background-color: #4D685A;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header {
    display: flex;
    background: url(images/python1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #333;
    filter: brightness(80%);
    color: #fff;
    padding: 3rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    height: fit-content;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
}

div > p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 6rem;
    color: #4D685A;
    margin: 2rem;
    margin-top: 4rem;
    padding: 1rem;
    width: fit-content;
    text-align: left;
    height: auto;
    text-shadow: -19px -10px 15px black;
    
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: -10px;
    writing-mode: vertical-lr;
}

.project-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    background-color: #546D64;
    border-radius: 15px;
    width: 100%;
}

.card a {
    width: 80%;
}

.card-container {
    display: flex;
    background-color: linen;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    width: 800px;
    height: auto;
    border-radius: 20px;
    opacity: 0.7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}


footer {
    background-color: #4D685A;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: linen;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: end;
}

@media only screen and (min-width: 374px) and (max-width: 1024px) {

    html, body {
        font-size: 16px;
        width: 100%;
    }

    body {
        margin: 0 auto;
        padding: 0;
        background-color: #49A078;
    }

    header {
        background: url(images/python1.jpg);
        background-size: cover;
        background-position: center;
        background-color: #333;
        filter: brightness(80%);
        height: 100vh;
        color: #fff;
        padding: 1rem;
        text-align: center;
        border-radius: 50px;
    }

    h1 {
        font-size: 5rem;
        color: #4D685Aff;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1rem;
        width: fit-content;
        text-align: left;
        height: auto;
        text-shadow: -19px -10px 15px black;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 1);
    }

    .card-container {
        display: flex;
        background-color: linen;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        height: auto;
        border-radius: 20px;
        opacity: 0.7;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 1);
    }
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    .card a {
        width: auto;
        margin: 1rem auto;
        padding: 0;
    }

    .project-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem;
        width: 100%;
        height: auto;
    }
}