body {
	background-color: #16015d;
	text-align: center;
}

p {
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

h1, h3 {
	color: #ffffff;
}

li {
	color: #ffffff;
}

.page_header {
	margin: 50px;
}

.lang_section {
	background-color: #000000;
	height: 250px;
	width: 500px;
	margin: auto;
}
