
/** {
  box-sizing: border-box;
}*/

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: p;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #0059ff;
}

p {
  color: #0d0d0d;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}

h2,
h3 {
  color: #000000;
  text-align: center;
  font-size: 25px;
}

ul {
  color: #0d0d0d;
  text-align: center;
  display: inline;
  max-height: 100px;
  font-size: 25px;
}

header {
  margin: auto;
  background: #05a7e2;
  color: #f5f5f5;
  text-align: center;
  padding: 25px;
}

footer {
  background-color: #028502;
  color: #0a0000;
  text-align: center;
  padding: 10px;
}

.nav-bar {
  overflow: hidden;
  background-color: #000000;
}

.nav-bar a {
  float: left;
  display: block;
  color: #ffffff;
  border-color: #0059ff;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: #05a7e2;
  color: #000000;
}

.column-one {
  margin: 30px 10px;
  float: left;
  width: 20.00%;
  padding: 20px 0px 20px 20px;
}

.column-two {
  margin: 30px auto;
  overflow: hidden;
  float: left;
  width: 55.00%;
  padding: 20px 0px;
}

.column-three {
  margin: 30px 10px;
  float: left;
  width: 20.00%;
  padding: 20px 0px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}

/*.icons-content {
  display: block;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 30px 0;
}*/

.page-content {
  width: 700px;
  margin: 0 auto;
  padding: 30px 0;
}

@media screen and (max-width:800px) {
  .column-one,
  .column-two,
  .column-three,
  .icons-content {
    width: 100%;
    padding: 0;
  } 
}

@media screen and (max-width: 600px) {
  .nav-bar a {
    float: none;
    width: 100%;
  }
  
}

